@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-bg text-slate-200 antialiased;
  background-image: radial-gradient(circle at top right, #1e1b4b, #0f172a); 
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-dark-bg;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full hover:bg-brand-light;
}